<form action="/car/create" method="get">
  <input type="text" name="make" placeholder="Enter make">
  <br/>
  <input type="number" name="year" placeholder="Enter year">
  <br/>
  <input type="color" name="color">
  <input type="submit" value="Create new car">
</form>
